@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ing. De Software - TP Integrador</h1>
    <p class="lead">Aplicación de Gestión de Pedidos de Aparejos.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="http://www.colferindustrial.com.ar/images/productos/Aparejos%20Electricos%20Forvis.jpg" alt="Aparejo2" width="300" height="300"/>
    </div>
    <div class="col-md-4">
        <img src="https://www.logismarket.com.ar/ip/unirrol-aparejos-electricos-aparejo-electrico-serie-mb-1300738-FGR.jpg" alt="Aparejo1" width="300" height="300" />
    </div>
    <div class="col-md-4">
        <<img src="http://eisatech.com.ar/wp-content/uploads/2013/02/Aparejos-EISA-fijo-ramales-de-cable-300x2771.png" alt="Aparejo3" width="300" height="300"/>
    </div>
</div>